
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<body>
    <div class="main">
        <!-- Slider -->
        <div class="slider">
            <div class="grid wide">
                <div class="slider__container row">
                    <div class="slider__left col l-6  m-6 c-12">
                        <img src="~/Content/assets/images/2.png" alt=""
                             class="slider__img">
                        <div class="slider__transition slider__transition--chosen"></div>
                        <div class="slider__transition"></div>
                        <div class="slider__transition"></div>
                        <div class="slider__transition"></div>
                    </div>
                    <div class="slider__right col l-6  m-6 c-12">
                        <div class="slider__box">
                            <a href="#" class="slider__link">
                                <img src="~/Content/assets/images/5.png" width="570"
                                     height="257" alt="" class="slider__img">
                            </a>
                            <div class="overlay"></div>
                        </div>
                        <div class="slider__box-bottom row">
                            <div class="slider__col col">
                                <img src="~/Content/assets/images/banner1-300x286.jpg"
                                     alt="" width="300" height="280" class="slider__img">
                                <div class="overlay"></div>
                            </div>
                            <div class="slider__col col">
                                <img src="~/Content/assets/images/banner2-300x286.jpg"
                                     alt="" width="300" height="280" class="slider__img">
                                <div class="overlay overlay__plus">+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider -->
        <!-- Signature -->
        <div class="signature">
            <div class="signature__container grid wide">
                <ul class="signature__list hide-on-mobile hide-on-tablet">
                    <li class="signature__item signature__item--chosen">
                        <a href="" class="signature__link"><span class="signature__link--chosen">LATEST</span></a>
                    </li>
                    <li class="signature__item">
                        <a href="" class="signature__link"><span class="signature__link--hover">BEST SELLER</span></a>
                    </li>
                    <li class="signature__item">
                        <a href="" class="signature__link"><span class="signature__link--hover">FEATURED</span></a>
                    </li>
                </ul>
                <div class="signature__product">
                    <div class="singnature__containter row">
                        <div class="signature__product-box signature__product-box--in-sale col l-3 m-4 c-6">
                            <div class="box__img">
                                <img src="~/Content/assets/images/17-215x260.jpg"
                                     alt="" class="signature__product-img">
                                <div class="signature__subbox">
                                    <div class="signature__subbox-top">
                                        <a href="#" class="signature__link signature__link-subbox">
                                            <p class="signature__add">
                                                <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                            </p>
                                        </a>
                                    </div>
                                    <div class="signature__subbox-bottom">
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-heart"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-code-compare"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-regular fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                                <span class="inSale">SALE!</span>
                            </div>
                            <div class="signature__product-decription">
                                <h4 class="signature__product-name">
                                    <a href="#" class="signature__link-header">
                                        Modular
                                        Modern
                                    </a>
                                </h4>
                                <p class="signature__product-price">
                                    <span class="signature__product-old">$9.00</span>$7.00
                                </p>
                                <div class="signature__product-rate">
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="signature__product-box col l-3 m-4 c-6">
                            <div class="box__img">
                                <img src="~/Content/assets/images/26-215x260.jpg"
                                     alt="" class="signature__product-img">
                                <div class="signature__subbox">
                                    <div class="signature__subbox-top">
                                        <a href="#" class="signature__link signature__link-subbox">
                                            <p class="signature__add">
                                                <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                            </p>
                                        </a>
                                    </div>
                                    <div class="signature__subbox-bottom">
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-heart"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-code-compare"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-regular fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="signature__product-decription">
                                <h4 class="signature__product-name">
                                    <a href="#" class="signature__link-header">
                                        Modular
                                        Modern
                                    </a>
                                </h4>
                                <p class="signature__product-price">$10.00</p>
                                <div class="signature__product-rate">
                                    <i class="signature__product-icon signature__product-icon--rated fa-regular fa-star"></i>
                                    <i class="signature__product-icon signature__product-icon--rated fa-regular fa-star"></i>
                                    <i class="signature__product-icon signature__product-icon--rated fa-regular fa-star"></i>
                                    <i class="signature__product-icon signature__product-icon--rated fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="signature__product-box signature__product-box--in-sale col l-3 m-4 c-6">
                            <div class="box__img">
                                <img src="~/Content/assets/images/10-215x260.jpg"
                                     alt="" class="signature__product-img">
                                <div class="signature__subbox">
                                    <div class="signature__subbox-top">
                                        <a href="#" class="signature__link signature__link-subbox">
                                            <p class="signature__add">
                                                <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                            </p>
                                        </a>
                                    </div>
                                    <div class="signature__subbox-bottom">
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-heart"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-code-compare"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-regular fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                                <span class="inSale">SALE!</span>
                            </div>
                            <div class="signature__product-decription">
                                <h4 class="signature__product-name">
                                    <a href="#" class="signature__link-header">
                                        Modular
                                        Modern
                                    </a>
                                </h4>
                                <p class="signature__product-price">
                                    <span class="signature__product-old">$3.00</span>$2.00
                                </p>
                                <div class="signature__product-rate">
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="signature__product-box col l-3 m-4 c-6">
                            <div class="box__img">
                                <img src="~/Content/assets/images/24-215x260.jpg"
                                     alt="" class="signature__product-img">
                                <div class="signature__subbox">
                                    <div class="signature__subbox-top">
                                        <a href="#" class="signature__link signature__link-subbox">
                                            <p class="signature__add">
                                                <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                            </p>
                                        </a>
                                    </div>
                                    <div class="signature__subbox-bottom">
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-heart"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-code-compare"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-regular fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="signature__product-decription">
                                <h4 class="signature__product-name">
                                    <a href="#" class="signature__link-header">
                                        Modular
                                        Modern
                                    </a>
                                </h4>
                                <p class="signature__product-price">$13.00</p>
                                <div class="signature__product-rate">
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="signature__product-box col l-3 m-4 c-6">
                            <div class="box__img">
                                <img src="~/Content/assets/images/3-215x260.jpg"
                                     alt="" class="signature__product-img">
                                <div class="signature__subbox">
                                    <div class="signature__subbox-top">
                                        <a href="#" class="signature__link signature__link-subbox">
                                            <p class="signature__add">
                                                <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                            </p>
                                        </a>
                                    </div>
                                    <div class="signature__subbox-bottom">
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-heart"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-solid fa-code-compare"></i>
                                        </a>
                                        <a href="#" class="signature__link signature__link-bottom">
                                            <i class="signature__icon fa-regular fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="signature__product-decription">
                                <h4 class="signature__product-name">
                                    <a href="#" class="signature__link-header">
                                        Modular
                                        Modern
                                    </a>
                                </h4>
                                <p class="signature__product-price">$14.00</p>
                                <div class="signature__product-rate">
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                    <i class="signature__product-icon fa-regular fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-inner box-inner-signature">
                        <button class="signature__btn">LOAD MORE ITEMS</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Signature -->
        <!-- New Products -->
        <div class="new-products">
            <div class="grid wide bg-eaeaea ">
                <div class="row">
                    <div class=" new-products__container">
                        <div class="new-products__box-img col l-6 m-12 c-12">
                            <img src="~/Content/assets/images/call-to-action.jpg"
                                 width="425" height="361" alt="" class="new-products__img">
                        </div>
                        <div class="new-products__box-decription col l-6 m-12 c-12">
                            <div class="new-products__padding">
                                <h4 class="new-products__name">AXEL - STOOL</h4>
                                <div class="new-products__type">NEW PRODUCTS</div>
                                <div class="new-products__decription">
                                    Lorem Ipsum has been the industry’s standard dummy
                                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                    it to make a type specimen book. It has survived not only five centuries,
                                </div>
                                <button class="new-products__btn">BUY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End New Products -->
        <!-- Suggest -->
        <div class="suggest">
            <div class="grid wide">
                <h3 class="suggest__header">SUGGEST COLLECTION</h3>
                <div class="suggest__container row ">
                    <ul class="suggest__box col hide-on-tablet hide-on-mobile">
                        <li class="suggest__item suggest__item--chosen col">
                            <img src="~/Content/assets/images/28-92x110.jpg"
                                 width="100%" height="100%" alt="" class="suggest__img">
                            <p class="suggest__product-name">Office chair</p>
                        </li>
                        <li class="suggest__item suggest__item--hover col">
                            <img src="~/Content/assets/images/174801.jpg"
                                 width="100%" height="100%" alt="" class="suggest__img">
                            <p class="suggest__product-name">Sofas</p>
                        </li>
                        <li class="suggest__item suggest__item--hover col">
                            <img src="~/Content/assets/images/5-92x110.jpg"
                                 width="100%" height="100%" alt="" class="suggest__img">
                            <p class="suggest__product-name">Good chair</p>
                        </li>
                        <li class="suggest__item suggest__item--hover col">
                            <img src="~/Content/assets/images/Furniture-Design-Chair-Yo5Rxnaa-130x98.jpg"
                                 width="100%" height="100%" alt="" class="suggest__img">
                            <p class="suggest__product-name">Coffee chair</p>
                        </li>
                        <li class="suggest__item suggest__item--hover col">
                            <img src="~/Content/assets/images/Ergonomic-Office-Furniture-Design-of-Active-Surface-Table-in-Orange-by-Isis-Concepts-130x98.jpg"
                                 alt="" class="suggest__img">
                            <p class="suggest__product-name">Outdoor table</p>
                        </li>
                        <li class="suggest__item suggest__item--hover col">
                            <img src="~/Content/assets/images/26-92x110.jpg"
                                 width="100%" height="100%" alt="" class="suggest__img">
                            <p class="suggest__product-name">Ipsum Chair</p>
                        </li>
                        <li class="suggest__item suggest__item--hover col">
                            <img src="~/Content/assets/images/30-92x110.jpg"
                                 width="100%" height="100%" alt="" class="suggest__img">
                            <p class="suggest__product-name">Wood Chair</p>
                        </li>
                        <li class="suggest__item suggest__item--hover col">
                            <img src="~/Content/assets/images/23-92x110.jpg"
                                 width="100%" height="100%" alt="" class="suggest__img">
                            <p class="suggest__product-name">Coffee Tables</p>
                        </li>
                        <li class="suggest__item suggest__item--hover col">
                            <img src="~/Content/assets/images/21-92x110.jpg"
                                 width="100%" height="100%" alt="" class="suggest__img">
                            <p class="suggest__product-name">Living Room</p>
                        </li>
                    </ul>
                </div>
                <div class="list__product row">
                    <div class="suggest__product signature__product-box col l-3 m-4 c-6">
                        <div class="box__img">
                            <img src="~/Content/assets/images/17-215x260.jpg"
                                 alt="" class="signature__product-img">
                            <div class="signature__subbox">
                                <div class="signature__subbox-top">
                                    <a href="#" class="signature__link signature__link-subbox">
                                        <p class="signature__add">
                                            <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                        </p>
                                    </a>
                                </div>
                                <div class="signature__subbox-bottom">
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-heart"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-code-compare"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-regular fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="signature__product-decription">
                            <h4 class="signature__product-name">
                                <a href="#" class="signature__link-header">
                                    Modular
                                    Modern
                                </a>
                            </h4>
                            <p class="signature__product-price">$600.00</p>
                            <div class="signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="suggest__product signature__product-box signature__product-box--in-sale col l-3 m-4 c-6">
                        <div class="box__img">
                            <img src="~/Content/assets/images/10-215x260.jpg"
                                 alt="" class="signature__product-img">
                            <div class="signature__subbox">
                                <div class="signature__subbox-top">
                                    <a href="#" class="signature__link signature__link-subbox">
                                        <p class="signature__add">
                                            <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                        </p>
                                    </a>
                                </div>
                                <div class="signature__subbox-bottom">
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-heart"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-code-compare"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-regular fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                            <span class="inSale">SALE!</span>
                        </div>
                        <div class="signature__product-decription">
                            <h4 class="signature__product-name">
                                <a href="#" class="signature__link-header">
                                    Modular
                                    Modern
                                </a>
                            </h4>
                            <p class="signature__product-price">
                                <span class="signature__product-old">$3.00</span>$2.00
                            </p>
                            <div class="signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="suggest__product signature__product-box signature__product-box--in-sale col l-3 m-4 c-6">
                        <div class="box__img">
                            <img src="~/Content/assets/images/26-215x260.jpg"
                                 alt="" class="signature__product-img">
                            <div class="signature__subbox">
                                <div class="signature__subbox-top">
                                    <a href="#" class="signature__link signature__link-subbox">
                                        <p class="signature__add">
                                            <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                        </p>
                                    </a>
                                </div>
                                <div class="signature__subbox-bottom">
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-heart"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-code-compare"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-regular fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                            <span class="inSale">SALE!</span>
                        </div>
                        <div class="signature__product-decription">
                            <h4 class="signature__product-name">
                                <a href="#" class="signature__link-header">
                                    Modular
                                    Modern
                                </a>
                            </h4>
                            <p class="signature__product-price">
                                <span class="signature__product-old">$9.00</span>$8.00
                            </p>
                            <div class="signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="suggest__product signature__product-box col l-3 m-4 c-6">
                        <div class="box__img">
                            <img src="~/Content/assets/images/24-215x260.jpg"
                                 alt="" class="signature__product-img">
                            <div class="signature__subbox">
                                <div class="signature__subbox-top">
                                    <a href="#" class="signature__link signature__link-subbox">
                                        <p class="signature__add">
                                            <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                        </p>
                                    </a>
                                </div>
                                <div class="signature__subbox-bottom">
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-heart"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-code-compare"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-regular fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="signature__product-decription">
                            <h4 class="signature__product-name">
                                <a href="#" class="signature__link-header">
                                    Modular
                                    Modern
                                </a>
                            </h4>
                            <p class="signature__product-price">$7.00 - $9.00</p>
                            <div class="signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="suggest__product signature__product-box col l-3 m-4 c-6">
                        <div class="box__img">
                            <img src="~/Content/assets/images/3-215x260.jpg" alt=""
                                 class="signature__product-img">
                            <div class="signature__subbox">
                                <div class="signature__subbox-top">
                                    <a href="#" class="signature__link signature__link-subbox">
                                        <p class="signature__add">
                                            <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                        </p>
                                    </a>
                                </div>
                                <div class="signature__subbox-bottom">
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-heart"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-solid fa-code-compare"></i>
                                    </a>
                                    <a href="#" class="signature__link signature__link-bottom">
                                        <i class="signature__icon fa-regular fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="signature__product-decription">
                            <h4 class="signature__product-name">
                                <a href="#" class="signature__link-header">
                                    Modular
                                    Modern
                                </a>
                            </h4>
                            <p class="signature__product-price">$9.00</p>
                            <div class="signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Suggest -->
        <!-- Posts -->
        <div class="posts">
            <div class="grid wide">
                <div class="posts__container row">
                    <div class="posts__box col l-6 m-12 c-12">
                        <div class="posts__img-box">
                            <a href="#" class="posts__link">
                                <img src="~/Content/assets/images/baner-shipping.jpg"
                                     alt="" height="300" class="posts__img">
                            </a>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="posts__box col l-3 m-12 c-12">
                        <div class="posts__img-box">
                            <a href="#" class="posts__link">
                                <img src="~/Content/assets/images/banner3.jpg"
                                     width="300" height="300" alt="" class="posts__img">
                            </a>
                            <div class="overlay overlay__plus">+</div>
                        </div>
                    </div>
                    <div class="posts__box col l-3 m-12 c-12">
                        <div class="posts__img-box">
                            <a href="#" class="posts__link">
                                <img src="~/Content/assets/images/banner4.jpg"
                                     alt="" height="300" class="posts__img">
                            </a>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Posts -->
        <!-- Most Viewed -->
        <div class="most">
            <div class="grid wide">
                <div class="most__container">
                    <h2 class="most__header">MOST VIEWED</h2>
                    <div class="most__transition-container">
                        <button class="most__transition"><i class="most__icon fa-solid fa-arrow-left"></i></button>
                        <button class="most__transition"><i class="most__icon fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="most-products__more row">
                    <div class="most__box-products col l-2 m-6 c-6">
                        <a href="#" class="most-img__link">
                            <img src="~/Content/assets/images/10-215x260.jpg" alt=""
                                 width="100%" height="100%" class="most-products__img">
                        </a>
                        <div class="most-products__about">
                            <a href="#" class="most-products__link">
                                <h5 class="most-products__name">Modular Modern</h5>
                            </a>
                            <p class="most-products__price signature__product-price">
                                <span class="signature__product-old">$3.00</span>$2.00
                            </p>
                            <div class="most-products__rate signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                            <a href="#" class="most-products__link">
                                <p class="most-products__cart">
                                    <i class="most-products__icon fa-solid fa-cart-shopping"></i>ADD TO CARD
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="most__box-products col l-2 m-6 c-6">
                        <a href="#" class="most-img__link">
                            <img src="~/Content/assets/images/24-215x260.jpg" alt=""
                                 width="100%" height="100%" class="most-products__img">
                        </a>
                        <div class="most-products__about">
                            <a href="#" class="most-products__link">
                                <h5 class="most-products__name">Variable Product</h5>
                            </a>
                            <p class="most-products__price signature__product-price">$7.00 - $9.00</p>
                            <div class="most-products__rate signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                            <a href="#" class="most-products__link">
                                <p class="most-products__cart">
                                    <i class="most-products__icon fa-solid fa-cart-shopping"></i>ADD TO CARD
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="most__box-products col l-2 m-6 c-6">
                        <a href="#" class="most-img__link">
                            <img src="~/Content/assets/images/19-215x260.jpg" alt=""
                                 width="100%" height="100%" class="most-products__img">
                        </a>
                        <div class="most-products__about">
                            <a href="#" class="most-products__link">
                                <h5 class="most-products__name">Modular Modern</h5>
                            </a>
                            <p class="most-products__price signature__product-price">$9.00</p>
                            <div class="most-products__rate signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                            <a href="#" class="most-products__link">
                                <p class="most-products__cart">
                                    <i class="most-products__icon fa-solid fa-cart-shopping"></i>ADD TO CARD
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="most__box-products col l-2 m-6 c-6">
                        <a href="#" class="most-img__link">
                            <img src="~/Content/assets/images/15-215x260.jpg" alt=""
                                 width="100%" height="100%" class="most-products__img">
                        </a>
                        <div class="most-products__about">
                            <a href="#" class="most-products__link">
                                <h5 class="most-products__name">Donec cursos</h5>
                            </a>
                            <p class="most-products__price signature__product-price">$15.00</p>
                            <div class="most-products__rate signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                            <a href="#" class="most-products__link">
                                <p class="most-products__cart">
                                    <i class="most-products__icon fa-solid fa-cart-shopping"></i>ADD TO CARD
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="most__box-products col l-2 m-6 c-6">
                        <a href="#" class="most-img__link">
                            <img src="~/Content/assets/images/26-215x260.jpg" alt=""
                                 width="100%" height="100%" class="most-products__img">
                        </a>
                        <div class="most-products__about">
                            <a href="#" class="most-products__link">
                                <h5 class="most-products__name">External/Affiliate Product</h5>
                            </a>
                            <p class="most-products__price signature__product-price">
                                <span class="signature__product-old">$9.00</span>$8.00
                            </p>
                            <div class="most-products__rate signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                            <a href="#" class="most-products__link">
                                <p class="most-products__cart">
                                    <i class="most-products__icon fa-solid fa-cart-shopping"></i>ADD TO CARD
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="most__box-products col l-2 m-6 c-6">
                        <a href="#" class="most-img__link">
                            <img src="~/Content/assets/images/3-215x260.jpg" alt=""
                                 width="100%" height="100%" class="most-products__img">
                        </a>
                        <div class="most-products__about">
                            <a href="#" class="most-products__link">
                                <h5 class="most-products__name">Modular Modern</h5>
                            </a>
                            <p class="most-products__price signature__product-price">$9.00</p>
                            <div class="most-products__rate signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                            <a href="#" class="most-products__link">
                                <p class="most-products__cart">
                                    <i class="most-products__icon fa-solid fa-cart-shopping"></i>ADD TO CARD
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="most__box-products col l-2 m-6 c-6">
                        <a href="#" class="most-img__link">
                            <img src="~/Content/assets/images/28-215x260.jpg" alt=""
                                 width="100%" height="100%" class="most-products__img">
                        </a>
                        <div class="most-products__about">
                            <a href="#" class="most-products__link">
                                <h5 class="most-products__name">Modular Modern</h5>
                            </a>
                            <p class="most-products__price signature__product-price">$9.00</p>
                            <div class="most-products__rate signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                            <a href="#" class="most-products__link">
                                <p class="most-products__cart">
                                    <i class="most-products__icon fa-solid fa-cart-shopping"></i>ADD TO CARD
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="most__box-products col l-2 m-6 c-6">
                        <a href="#" class="most-img__link">
                            <img src="~/Content/assets/images/11-215x260.jpg" alt=""
                                 width="100%" height="100%" class="most-products__img">
                        </a>
                        <div class="most-products__about">
                            <a href="#" class="most-products__link">
                                <h5 class="most-products__name">Modular Modern</h5>
                            </a>
                            <p class="most-products__price signature__product-price">$9.00 - $15.00</p>
                            <div class="most-products__rate signature__product-rate">
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                                <i class="signature__product-icon fa-regular fa-star"></i>
                            </div>
                            <a href="#" class="most-products__link">
                                <p class="most-products__cart">
                                    <i class="most-products__icon fa-solid fa-cart-shopping"></i>ADD TO CARD
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- LATEST POSTS -->
        <div class="latest">
            <div class="grid wide">
                <div class="latest__container most__container">
                    <h2 class="latest__header most__header">LATEST POSTS</h2>
                    <div class="latest__transition-container most__transition-container">
                        <button class="latest__transition most__transition">
                            <i class="latest__icon most__icon fa-solid fa-arrow-left"></i>
                        </button>
                        <button class="latest__transition most__transition">
                            <i class="latest__icon most__icon fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="latest__div row">
                    <div class="latest__posts col l-4 m-12 c-12">
                        <div class="latest__box-img">
                            <img src="~/Content/assets/images/110-370x190.jpg"
                                 alt="" class="latest__img">
                            <div class="overlay"></div>
                        </div>
                        <div class="latest__about">
                            <div class="latest__date">
                                <p class="date">3</p>
                                <p class="lastest__month">NOV</p>
                            </div>
                            <div class="latest__content">
                                <p class="latest__user">Admin</p>
                                <h6 class="latest__topic">Richard McClintock at Hampden-Sydney</h6>
                                <p class="latest__decription">
                                    Latin professor at Hampden-Sydney College in Virginia,
                                    looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                    passage, and going through the cites of the word in classical literature, discovered
                                    the undoubtable source.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="latest__posts col l-4 m-12 c-12">
                        <div class="latest__box-img">
                            <img src="~/Content/assets/images/2-blog-370x190.jpg"
                                 alt="" class="latest__img">
                            <div class="overlay"></div>
                        </div>
                        <div class="latest__about">
                            <div class="latest__date">
                                <p class="date">3</p>
                                <p class="lastest__month">NOV</p>
                            </div>
                            <div class="latest__content">
                                <p class="latest__user">Admin</p>
                                <h6 class="latest__topic">Latin professor at Hampden-Sydney</h6>
                                <p class="latest__decription">
                                    Richard McClintock, a Latin professor at Hampden-Sydney
                                    College in Virginia, looked up one of the more obscure Latin words, consectetur,
                                    from a Lorem Ipsum passage, and going through the cites of the word in classical
                                    literature.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="latest__posts col l-4 m-12 c-12">
                        <div class="latest__box-img">
                            <img src="~/Content/assets/images/richard-3-370x190.jpg"
                                 alt="" class="latest__img">
                            <div class="overlay"></div>
                        </div>
                        <div class="latest__about">
                            <div class="latest__date">
                                <p class="date">3</p>
                                <p class="lastest__month">NOV</p>
                            </div>
                            <div class="latest__content">
                                <p class="latest__user">Admin</p>
                                <h6 class="latest__topic">Morbi semper eros sit amet mi molestie</h6>
                                <p class="latest__decription">
                                    Richard McClintock, a Latin professor at Hampden-Sydney
                                    College in Virginia, looked up one of the more obscure Latin words, consectetur,
                                    from a Lorem Ipsum passage, and going through the cites of the word in classical
                                    literature.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End lastest -->
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar__container grid wide">
                <div class="sidebar__box row">
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="#" class="sidebar__link">
                            <img src="~/Content/assets/images/lamino.png"
                                 width="100%" height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="#" class="sidebar__link">
                            <img src="~/Content/assets/images/avio.png" width="100%"
                                 height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="#" class="sidebar__link">
                            <img src="~/Content/assets/images/nova.png" width="100%"
                                 height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="#" class="sidebar__link">
                            <img src="~/Content/assets/images/avan.png" width="100%"
                                 height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="#" class="sidebar__link">
                            <img src="~/Content/assets/images/nazic.png" width="100%"
                                 height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
    </div>
</body>
