
@{
    ViewBag.Title = "Furniture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Content/assets/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="~/Content/assets/css/main.css">
    <link rel="stylesheet" href="~/Content/assets/css/grid.css">
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">
    <link rel="stylesheet" href="~/Content/assets/css/login.css">
    <link rel="stylesheet" href="~/Content/assets/css/details.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>SNS Simen - Clone</title>
</head>

<body>
    <div class="main">
        <!-- Navbar -->
        <nav class="navbar">
            <div class="grid wide">
                <div class="navbar__box">
                    <div class="navbar__left">
                        <ul class="navbar__list">
                            <li class="navbar__item language-switcher">
                                <p class="navbar__language">
                                    <i class="navbar__icon fa-solid fa-flag-usa"></i> English <i class="fa-solid fa-angle-down"></i>
                                </p>
                                <div class="subnav">
                                    <ul class="subnav__list">
                                        <li class="subnav__item">
                                            <p class="subnav__text"><i class="fa-solid fa-flag-usa"></i> ENGLISH</p>
                                        </li>
                                        <li class="subnav__item">
                                            <p class="subnav__text"><i class="fa-solid fa-font-awesome"></i> RUSSIA</p>
                                        </li>
                                        <li class="subnav__item">
                                            <p class="subnav__text"><i class="fa-solid fa-font-awesome"></i> BRAZIL</p>
                                        </li>
                                        <li class="subnav__item">
                                            <p class="subnav__text"><i class="fa-solid fa-font-awesome"></i> FRANCE</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="navbar__item currency-switcher">
                                <p class="navbar__currency">USD <i class="fa-solid fa-angle-down"></i></p>
                                <div class="subnav">
                                    <ul class="subnav__list">
                                        <li class="subnav__item">
                                            <p class="subnav__text">USD</p>
                                        </li>
                                        <li class="subnav__item">
                                            <p class="subnav__text">EUR</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar__right">
                        <ul class="navbar__list">
                            <li class="navbar__item navbar__item--mobile-tablet hide">
                                <a href="#" class="navbar__link"><i class="navbar__icon fa-solid fa-bars"></i></a>
                                <div class="subnav subnav--mobile-tablet">
                                    <ul class="subnav__list">
                                        <li class="subnav__item"><a href="" class="navbar__link"><i class="navbar__icon fa-solid fa-user"></i> My Account</a></li>
                                        <li class="subnav__item"><a href="" class="navbar__link"><i class="navbar__icon fa-regular fa-heart"></i> Wishlist</a></li>
                                        <li class="subnav__item"><a href="" class="navbar__link"><i class="navbar__icon fa-regular fa-square-check"></i> Checkout</a></li>
                                        <li class="subnav__item"><a href="" class="navbar__link"><i class="navbar__icon fa-solid fa-key"></i> Login</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="navbar__item hide-on-mobile hide-on-tablet">
                                <a href="Login" class="navbar__link"><i class="navbar__icon fa-solid fa-user"></i> My Account</a>
                            </li>
                            <li class="navbar__item hide-on-mobile hide-on-tablet">
                                <a href="" class="navbar__link"><i class="navbar__icon fa-regular fa-heart"></i> Wishlist</a>
                            </li>
                            <li class="navbar__item hide-on-mobile hide-on-tablet">
                                <a href="" class="navbar__link"><i class="navbar__icon fa-regular fa-square-check"></i> Checkout</a>
                            </li>
                            <li class="navbar__item hide-on-mobile hide-on-tablet">
                                <a href="Login" class="navbar__link"><i class="navbar__icon fa-solid fa-key"></i> Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <!-- Header -->
        <header class="header">
            <div class="grid wide">
                <div class="header__content row">
                    <div class="header__logo col l-2 m-2 c-2">
                        <a href="Index" class="header__link">
                            <img src="~/Content/assets/images/logo.png" width="100%" alt="" class="header__img">
                        </a>
                    </div>
                    <div class="header__search col l-7 m-10 c-10">
                        <a href="#" class="header__link header-search__link">All Categories</a>
                        <input type="text" placeholder="Search entire store here" class="header__input">
                        <a href="#" class="header__link"><i class="header-search__icon fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <div class="header__shopping-cart col col l-3 m-0 c-0">
                        <div class="menu__cart">
                            <i class="menu__icon menu__icon-shop fa-solid fa-cart-shopping"></i>
                            <div class="menu__cart-box">
                                <h3 class="menu__cart-header">Shopping Cart</h3>
                                <p class="menu__quantity"><span class="red">0</span> ( items ) - <span class="red">$ 0.00</span></p>
                            </div>
                            <div class="subcart">
                                <p class="subcart__content">
                                    No products in the cart.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->
        <!-- Menu -->
        <div class="grid wide">
            <div class="menu">
                <div class="menu__content row">
                    <div class="menu__left ">
                        <label for="menu-mobile-tablet-input" class="menu__link menu__link--icon-mobile-tablet hide"><i class="menu__icon fa-solid fa-bars"></i></label>
                        <input type="checkbox" class="menu__input" id="menu-mobile-tablet-input">
                        <label for="menu-mobile-tablet-input" class="menu__overlay"></label>
                        <div class="menu__infomation--mobile-tablet hide">
                            <ul class="menu__list">
                                <li class="menu__item menu__item--mobile-tablet"><a href="" class="menu__link menu__link--mobile-tablet">Home</a></li>
                                <li class="menu__item menu__item--mobile-tablet"><a href="" class="menu__link menu__link--mobile-tablet">Furniture</a></li>
                                <li class="menu__item menu__item--mobile-tablet"><a href="" class="menu__link menu__link--mobile-tablet">Coffee Table</a></li>
                                <li class="menu__item menu__item--mobile-tablet"><a href="" class="menu__link menu__link--mobile-tablet">Sofas</a></li>
                                <li class="menu__item menu__item--mobile-tablet"><a href="" class="menu__link menu__link--mobile-tablet">Bedroom furniture</a></li>
                                <li class="menu__item menu__item--mobile-tablet"><a href="" class="menu__link menu__link--mobile-tablet">Shop</a></li>
                                <li class="menu__item menu__item--mobile-tablet"><a href="" class="menu__link menu__link--mobile-tablet">Blog</a></li>
                                <li class="menu__item menu__item--mobile-tablet"><a href="" class="menu__link menu__link--mobile-tablet">Shortcodes</a></li>
                                <li class="menu__item menu__item--mobile-tablet"><a href="" class="menu__link menu__link--mobile-tablet">Contact us</a></li>
                            </ul>
                        </div>
                        <ul class="menu__list hide-on-mobile hide-on-tablet">
                            <li class="menu__item">
                                <a href="Index" class="menu__link">HOME</a>
                                <div class="submenu-home">
                                    <ul class="subhome__list">
                                        <li class="subhome__item">
                                            <a href="" class="subhome__link subhome__link--chosen">Home Page 1</a>
                                        </li>
                                        <li class="subhome__item">
                                            <a href="" class="subhome__link">Home Page 2</a>
                                        </li>
                                        <li class="subhome__item">
                                            <a href="" class="subhome__link">Home Page 3</a>
                                        </li>
                                        <li class="subhome__item">
                                            <a href="" class="subhome__link">Home Page 4</a>
                                        </li>
                                        <li class="subhome__item">
                                            <a href="" class="subhome__link">Home Page 5</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu__item menu__item-furniture">
                                <a href="" class="menu__link menu__link--chosen">FURNITURE</a>
                                <div class="submenu-furniture">
                                    <div class="row surfur__content">
                                        <div class="subfur__box col">
                                            <h4 class="subfur__header">TABLE</h4>
                                            <ul class="subfur__list">
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Kitchen & Dinning Room Table</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Folding Table</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Living Room Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Sofa Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">End Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Coffee Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Pedestal Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Home Office Desks</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="subfur__box col">
                                            <h4 class="subfur__header">TABLE</h4>
                                            <ul class="subfur__list">
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Living Room Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Sofa Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">End Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Coffee Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Pedestal Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Home Office Desks</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Kids Furniture</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Kitchen & Dinning Room Sets</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="subfur__box col">
                                            <h4 class="subfur__header">TABLE</h4>
                                            <ul class="subfur__list">
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Kitchen & Dinning Room Table</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Folding Table</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">End Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Coffee Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Pedestal Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Home Office Desks</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Kid's Furniture</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Kitchen & Dinning Room Sets</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="subfur__box col">
                                            <h4 class="subfur__header">TABLE</h4>
                                            <ul class="subfur__list">
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Dinning Room Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Folding Table</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Living Room Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Sofa Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">End Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Coffee Tables</a>
                                                </li>
                                                <li class="subfur__item">
                                                    <a href="" class="subfur__link">Pedestal Tables</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="subfur__under row">
                                        <a href="" class="subfur__link">
                                            <img src="./assets/img/banner-mega-22.jpg"
                                                 alt="" class="subfur__img">
                                        </a>
                                        <a href="" class="subfur__link">
                                            <img src="./assets/img/banner-mega-32.jpg"
                                                 alt="" class="subfur__img">
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">COFFEE TABLES</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">SOFAS</a>
                            </li>
                            <li class="menu__item menu__item-bedroom">
                                <a href="" class="menu__link">BEDROOM FURNITURE</a>
                                <div class="subbedroom">
                                    <div class="subbedroom__content row">
                                        <div class="subbedroom__box col">
                                            <div class="subbedroom__box-img">
                                                <a href="#" class="subbedroom__link">
                                                    <img src="~/Content/assets/images/category-img-1-250x150.png"
                                                         width="100%" height="100%" alt="" class="subbedroom__img">
                                                </a>
                                                <div class="overlay"></div>
                                            </div>
                                            <h5 class="subbedroom__header">SOFA</h5>
                                            <p class="subbedroom__decription">
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Maecenas eu ornare urna. Suspendisse a lobortis ex, at
                                                efficitur
                                            </p>
                                        </div>
                                        <div class="subbedroom__box col">
                                            <div class="subbedroom__box-img">
                                                <a href="#" class="subbedroom__link">
                                                    <img src="~/Content/assets/images/avant-garde-design-studios-furniture-250x150.jpg"
                                                         width="100%" height="100%" alt="" class="subbedroom__img">
                                                </a>
                                                <div class="overlay"></div>
                                            </div>
                                            <h5 class="subbedroom__header">CHAIR</h5>
                                            <p class="subbedroom__decription">
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Maecenas eu ornare urna. Suspendisse a lobortis ex, at
                                                efficitur
                                            </p>
                                        </div>
                                        <div class="subbedroom__box col">
                                            <div class="subbedroom__box-img">
                                                <a href="#" class="subbedroom__link">
                                                    <img src="~/Content/assets/images/furniture-bad-250x150.jpg"
                                                         width="100%" height="100%" alt="" class="subbedroom__img">
                                                </a>
                                                <div class="overlay"></div>
                                            </div>
                                            <h5 class="subbedroom__header">BAD</h5>
                                            <p class="subbedroom__decription">
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Maecenas eu ornare urna. Suspendisse a lobortis ex, at
                                                efficitur
                                            </p>
                                        </div>
                                        <div class="subbedroom__box col">
                                            <div class="subbedroom__box-img">
                                                <a href="#" class="subbedroom__link">
                                                    <img src="~/Content/assets/images/furniture-chest-250x150.jpg"
                                                         width="100%" height="100%" alt="" class="subbedroom__img">
                                                </a>
                                                <div class="overlay"></div>
                                            </div>
                                            <h5 class="subbedroom__header">FURNITURE CHEST</h5>
                                            <p class="subbedroom__decription">
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Maecenas eu ornare urna. Suspendisse a lobortis ex, at
                                                efficitur
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu__item menu__item-shop">
                                <a href="" class="menu__link">SHOP</a>
                                <div class="submenu-shop">
                                    <div class="row shop__content">
                                        <div class="shop__box col">
                                            <h4 class="shop__header">PRODUCT TYPES</h4>
                                            <ul class="shop__list">
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">Simple Product</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">Grouped Product</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">Variable Product</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">Variable Product - Color</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">Variable Product - Image</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">External/Affiliate Product</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="shop__box col">
                                            <h4 class="shop__header">SHOP PAGES</h4>
                                            <ul class="shop__list">
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">Shopping Cart</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">Checkout</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">My Account</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">Wishlist</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">404</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">Product Tag</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="shop__box col">
                                            <h4 class="shop__header">SHOP SHORTCODES</h4>
                                            <ul class="shop__list">
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">SNS Featured Categories</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">SNS Product Tabs</a>
                                                </li>
                                                <li class="shop__item">
                                                    <a href="" class="shop__link">SNS Products</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Menu -->
        <!-- Location -->
        <div class="location">
            <div class="grid wide">
                <div class="location__container">
                    <a href="Index" class="location__link"><i class="location__icon fa-solid fa-house"></i></a>
                    <p class="location__text">/ Furniture</p>
                </div>
            </div>
        </div>
        <!-- End Location -->
        <!-- Content -->
        <div class="content">
            <div class="grid wide">
                <div class="content__container row">
                    <div class="content-left col l-3 m-0 c-0">
                        <div class="content-left__box">
                            <h3 class="content-left__header">ALL CATEGORIES</h3>
                            <div class="content-left__box content-left__box--under">
                                <ul class="content-left__list">
                                    <li class="content-left__item"><a href="" class="content-left__link">Bad</a></li>
                                    <li class="content-left__item"><a href="" class="content-left__link">Bedroom furniture</a></li>
                                    <li class="content-left__item"><a href="" class="content-left__link">Chair</a></li>
                                    <li class="content-left__item"><a href="" class="content-left__link">Coffee chair</a></li>
                                    <li class="content-left__item"><a href="" class="content-left__link">Coffee Tables</a></li>
                                    <li class="content-left__item"><a href="" class="content-left__link">Computer Chair</a></li>
                                    <li class="content-left__item"><a href="" class="content-left__link">Furniture</a></li>
                                    <li class="content-left__item"><a href="" class="content-left__link">Furniture chest</a></li>
                                    <li class="content-left__item"><a href="" class="content-left__link">Good chair</a></li>
                                    <li class="content-left__item"><a href="" class="content-left__link">Ipsum Chair</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @* Data *@
                    <div class="content-right col l-9">
                        <div class="content__box-img">
                            <img src="~/Content/assets/images/shop-featured.png" width="100%" height="80%" alt="" class="content-right__img">
                        </div>
                        <h3 class="content-right__header">Furniture</h3>
                        <hr>
                        <div class="content__product signature__product">
                            <div class="singnature__containter row">
                                <a href="" class="add__product">
                                    <div class="signature__product-box signature__product-box--in-sale col l-3 m-4 c-6">
                                        <div class="box__img">
                                            <img src="~/Content/assets/images/17-215x260.jpg"
                                                 alt="" class="signature__product-img">
                                            <div class="signature__subbox">
                                                <div class="signature__subbox-top">
                                                    <a href="#" class="signature__link signature__link-subbox">
                                                        <p class="signature__add">
                                                            <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                                        </p>
                                                    </a>
                                                </div>
                                                <div class="signature__subbox-bottom">
                                                    <a href="#" class="signature__link signature__link-bottom">
                                                        <i class="signature__icon fa-solid fa-heart"></i>
                                                    </a>
                                                    <a href="#" class="signature__link signature__link-bottom">
                                                        <i class="signature__icon fa-solid fa-code-compare"></i>
                                                    </a>
                                                    <a href="#" class="signature__link signature__link-bottom">
                                                        <i class="signature__icon fa-regular fa-eye"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="inSale">SALE!</span>
                                        </div>
                                        <div class="signature__product-decription">
                                            <h4 class="signature__product-name">
                                                <a href="#" class="signature__link-header">
                                                    Modular
                                                    Modern
                                                </a>
                                            </h4>
                                            <p class="signature__product-price">
                                                <span class="signature__product-old">$9.00</span>$7.00
                                            </p>
                                            <div class="signature__product-rate">
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="signature__product-box signature__product-box--in-sale col l-3 m-4 c-6">
                                    <div class="box__img">
                                        <img src="~/Content/assets/images/17-215x260.jpg"
                                             alt="" class="signature__product-img">
                                        <div class="signature__subbox">
                                            <div class="signature__subbox-top">
                                                <a href="#" class="signature__link signature__link-subbox">
                                                    <p class="signature__add">
                                                        <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="signature__subbox-bottom">
                                                <a href="#" class="signature__link signature__link-bottom">
                                                    <i class="signature__icon fa-solid fa-heart"></i>
                                                </a>
                                                <a href="#" class="signature__link signature__link-bottom">
                                                    <i class="signature__icon fa-solid fa-code-compare"></i>
                                                </a>
                                                <a href="#" class="signature__link signature__link-bottom">
                                                    <i class="signature__icon fa-regular fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <span class="inSale">SALE!</span>
                                    </div>
                                    <div class="signature__product-decription">
                                        <h4 class="signature__product-name">
                                            <a href="#" class="signature__link-header">
                                                Modular
                                                Modern
                                            </a>
                                        </h4>
                                        <p class="signature__product-price">
                                            <span class="signature__product-old">$9.00</span>$7.00
                                        </p>
                                        <div class="signature__product-rate">
                                            <i class="signature__product-icon fa-regular fa-star"></i>
                                            <i class="signature__product-icon fa-regular fa-star"></i>
                                            <i class="signature__product-icon fa-regular fa-star"></i>
                                            <i class="signature__product-icon fa-regular fa-star"></i>
                                            <i class="signature__product-icon fa-regular fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="signature__product-box signature__product-box--in-sale col l-3 m-4 c-6">
                                    <div class="box__img">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content -->
        <!-- Slider bar -->
        <div class="sidebar">
            <div class="sidebar__container grid wide">
                <div class="sidebar__box row">
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="http://snstheme.com/" class="sidebar__link">
                            <img src="~/Content/assets/images/lamino.png"
                                 width="100%" height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="http://snstheme.com/" class="sidebar__link">
                            <img src="~/Content/assets/images/avio.png" width="100%"
                                 height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="http://snstheme.com/" class="sidebar__link">
                            <img src="~/Content/assets/images/nova.png" width="100%"
                                 height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="http://snstheme.com/" class="sidebar__link">
                            <img src="~/Content/assets/images/avan.png" width="100%"
                                 height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                    <div class="sidebar__box-img col l-4 m-4 c-6">
                        <a href="http://snstheme.com/" class="sidebar__link">
                            <img src="~/Content/assets/images/nazic.png" width="100%"
                                 height="100%" alt="" class="sidebar__img">
                        </a>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        <!-- Footer -->
        <footer class="footer">
            <div class="grid wide">
                <div class="footer__container row">
                    <div class="footer__box col l-4 m-6 c-6">
                        <h4 class="footer__header">CONTACT US</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <div class="footer__box-icon">
                                    <i class="footer__icon fa-solid fa-house"></i>
                                </div>
                                <a href="" class="footer__link">8888 South Avenue Street, New York</a>
                            </li>
                            <li class="footer__item">
                                <div class="footer__box-icon">
                                    <i class="footer__icon fa-solid fa-phone"></i>
                                </div>
                                <div class="footer__about">
                                    <a href="" class="footer__link">(12) 3 456 7896</a>
                                    <a href="" class="footer__link">(12) 3 456 7895</a>
                                </div>
                            </li>
                            <li class="footer__item">
                                <div class="footer__box-icon">
                                    <i class="footer__icon fa-regular fa-envelope"></i>
                                </div>
                                <div class="footer__about">
                                    <a href="" class="footer__link">contact@simen.com</a>
                                    <a href="" class="footer__link">info@simen.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__box col l-4 m-6 c-6">
                        <h4 class="footer__header">SERVICE</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="" class="footer__link">Prices & Currencies</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Secure Payment</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Delivery Times & Costs</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Returns & Exchanges</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">FAQ's</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__box col l-4 m-6 c-6">
                        <h4 class="footer__header">ACCOUNT</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="" class="footer__link">My Account</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Wishlist</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Order History</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Specials</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Gift Vouchers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__box col l-4 m-6 c-6">
                        <h4 class="footer__header">INFORMATION</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="" class="footer__link">My Account</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Wishlist</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Order History</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Specials</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Gift Vouchers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__box col l-4 m-6 c-6">
                        <h4 class="footer__header">NEWSLETTER</h4>
                        <p class="register">Register your email for news</p>
                        <input class="footer__input" type="email" placeholder="Your email here">
                        <button class="footer__btn">SUBCRIBE</button>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
        <!-- Powered -->
        <div class="powered">
            <div class="grid wide">
                <div class="powered__container row">
                    <p class="powered__decription">© 2015 Ecommerce software by Wordpress™ Designed by SNSTheme.Com</p>
                    <div class="powered__donate">
                        <img src="~/Content/assets/images/payment.png" alt=""
                             class="powered__img">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Powered -->
    </div>
</body>
</html>