

<div class="content">
    <div class="content-no-login__container">
        <h2 class="content-no-login__header" style="font-size:6rem;text-align:center">HomePage</h2>
        <div class="content-no-login__box">
            <img src="~/Content/assets/images/pexels-dineth-siriwardana-6775662.jpg" width="100%" height="100%" />
            <a href="@Url.Action("Login","Login")" class="login__btn login__btn--no-login login__btn--mobile login__btn--tablet"> Explorer the furniture</a>
        </div>
        <h2 class="content-no-login__header" style="font-size:6rem;text-align:center">Products</h2>
        <div class="content-no-login__box">
            <img src="~/Content/assets/images/pexels-pixabay-276528.jpg" width="100%" height="100%" />
            <a href="@Url.Action("Login","Login")" class="login__btn login__btn--no-login login__btn--mobile login__btn--tablet"> More product</a>
        </div>
        <h2 class="content-no-login__header" style="font-size:6rem;text-align:center">About</h2>
        <div class="content-no-login__box">
            <img src="~/Content/assets/images/pexels-vishva-patel-6216240.jpg" width="100%" height="100%" />
            <a href="@Url.Action("Login","Login")" class="login__btn login__btn--no-login login__btn--mobile login__btn--tablet"> About us</a>
        </div>
        <h2 class="content-no-login__header" style="font-size:6rem;text-align:center">Contact</h2>
        <div class="content-no-login__box">
            <img src="~/Content/assets/images/pexels-andrew-neel-2859169.jpg" width="100%" height="100%" />
            <a href="@Url.Action("Login","Login")" class="login__btn login__btn--no-login login__btn--mobile login__btn--tablet">Contact us</a>
        </div>
    </div>
    </div>