<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="~/Content/assets/favicon/favicon-16x16.png">
        <link rel="stylesheet" href="~/Content/assets/css/main.css">
        <link rel="stylesheet" href="~/Content/assets/css/grid.css">
        <link rel="stylesheet" href="~/Content/assets/css/responsive.css">
        <link rel="stylesheet" href="~/Content/assets/css/login.css">
        <link rel="stylesheet" href="~/Content/assets/css/details.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <title>SNS Simen - Clone</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="grid wide">
            <div class="navbar__box">
                <div class="navbar__left">
                    <ul class="navbar__list">
                        <li class="navbar__item language-switcher">
                            <p class="navbar__language">
                                <i class="navbar__icon fa-solid fa-flag-usa"></i> English <i class="fa-solid fa-angle-down"></i>
                            </p>
                            <div class="subnav">
                                <ul class="subnav__list">
                                    <li class="subnav__item">
                                        <p class="subnav__text"><i class="fa-solid fa-flag-usa"></i> ENGLISH</p>
                                    </li>
                                    <li class="subnav__item">
                                        <p class="subnav__text"><i class="fa-solid fa-font-awesome"></i> RUSSIA</p>
                                    </li>
                                    <li class="subnav__item">
                                        <p class="subnav__text"><i class="fa-solid fa-font-awesome"></i> BRAZIL</p>
                                    </li>
                                    <li class="subnav__item">
                                        <p class="subnav__text"><i class="fa-solid fa-font-awesome"></i> FRANCE</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="navbar__item currency-switcher">
                            <p class="navbar__currency">USD <i class="fa-solid fa-angle-down"></i></p>
                            <div class="subnav">
                                <ul class="subnav__list">
                                    <li class="subnav__item">
                                        <p class="subnav__text">USD</p>
                                    </li>
                                    <li class="subnav__item">
                                        <p class="subnav__text">EUR</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar__right">
                    <ul class="navbar__list">
                        <li class="navbar__item navbar__item--mobile-tablet hide">
                            <a href="#" class="navbar__link"><i class="navbar__icon fa-solid fa-bars"></i></a>
                            <div class="subnav subnav--mobile-tablet">
                                <ul class="subnav__list">
                                    <li class="subnav__item"><a href="" class="navbar__link"><i class="navbar__icon fa-solid fa-user"></i> My Account</a></li>
                                    <li class="subnav__item"><a href="" class="navbar__link"><i class="navbar__icon fa-regular fa-heart"></i> Wishlist</a></li>
                                    <li class="subnav__item"><a href="" class="navbar__link"><i class="navbar__icon fa-regular fa-square-check"></i> Checkout</a></li>
                                    <li class="subnav__item"><a href="" class="navbar__link"><i class="navbar__icon fa-solid fa-key"></i> Login</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="navbar__item hide-on-mobile hide-on-tablet">
                            <a href="Login" class="navbar__link"><i class="navbar__icon fa-solid fa-user"></i> My Account</a>
                        </li>
                        <li class="navbar__item hide-on-mobile hide-on-tablet">
                            <a href="" class="navbar__link"><i class="navbar__icon fa-regular fa-heart"></i> Wishlist</a>
                        </li>
                        <li class="navbar__item hide-on-mobile hide-on-tablet">
                            <a href="" class="navbar__link"><i class="navbar__icon fa-regular fa-square-check"></i> Checkout</a>
                        </li>
                        <li class="navbar__item hide-on-mobile hide-on-tablet">
                            <a href="Login" class="navbar__link"><i class="navbar__icon fa-solid fa-key"></i> Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <header class="header">
        <div class="grid wide">
            <div class="header__content row">
                <div class="header__logo col l-2 m-2 c-2">
                    <a href="Index" class="header__link">
                        <img src="~/Content/assets/images/logo.png" width="100%" alt="" class="header__img">
                    </a>
                </div>
                <div class="header__search col l-7 m-10 c-10">
                    <a href="#" class="header__link header-search__link">All Categories</a>
                    <input type="text" placeholder="Search entire store here" class="header__input">
                    <a href="#" class="header__link"><i class="header-search__icon fa-solid fa-magnifying-glass"></i></a>
                </div>
                <div class="header__shopping-cart col col l-3 m-0 c-0">
                    <div class="menu__cart">
                        <i class="menu__icon menu__icon-shop fa-solid fa-cart-shopping"></i>
                        <div class="menu__cart-box">
                            <h3 class="menu__cart-header">Shopping Cart</h3>
                            <p class="menu__quantity"><span class="red">0</span> ( items ) - <span class="red">$ 0.00</span></p>
                        </div>
                        <div class="subcart">
                            <p class="subcart__content">
                                No products in the cart.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    @RenderBody();
    <!-- Footer -->
    <footer class="footer">
        <div class="grid wide">
            <div class="footer__container row">
                <div class="footer__box col l-4 m-6 c-6">
                    <h4 class="footer__header">CONTACT US</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-solid fa-house"></i>
                            </div>
                            <a href="" class="footer__link">8888 South Avenue Street, New York</a>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-solid fa-phone"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">(12) 3 456 7896</a>
                                <a href="" class="footer__link">(12) 3 456 7895</a>
                            </div>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-regular fa-envelope"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">contact@simen.com</a>
                                <a href="" class="footer__link">info@simen.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer__box col l-4 m-6 c-6">
                    <h4 class="footer__header">SERVICE</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="" class="footer__link">Prices & Currencies</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Secure Payment</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Delivery Times & Costs</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Returns & Exchanges</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">FAQ's</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__box col l-4 m-6 c-6">
                    <h4 class="footer__header">ACCOUNT</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="" class="footer__link">My Account</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Wishlist</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Order History</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Specials</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Gift Vouchers</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__box col l-4 m-6 c-6">
                    <h4 class="footer__header">INFORMATION</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="" class="footer__link">My Account</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Wishlist</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Order History</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Specials</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Gift Vouchers</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__box col l-4 m-6 c-6">
                    <h4 class="footer__header">NEWSLETTER</h4>
                    <p class="register">Register your email for news</p>
                    <input class="footer__input" type="email" placeholder="Your email here">
                    <button class="footer__btn">SUBCRIBE</button>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Powered -->
    <div class="powered">
        <div class="grid wide">
            <div class="powered__container row">
                <p class="powered__decription">© 2015 Ecommerce software by Wordpress™ Designed by SNSTheme.Com</p>
                <div class="powered__donate">
                    <img src="~/Content/assets/images/payment.png" alt=""
                         class="powered__img">
                </div>
            </div>
        </div>
    </div>
    <!-- End Powered -->
</body>
</html>
