
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Location -->
<div class="location">
    <div class="grid wide">
        <div class="location__container">
            <a href="@Url.Action("Index","Home")" class="location__link"><i class="location__icon fa-solid fa-house"></i></a>
            <p class="location__text">/ Contact</p>
        </div>
    </div>
</div>
<!-- End Location -->

<div class="content" style="font-size:3rem">
    <div class="grid wide">
        <div class="footer__container row">
            <div class="footer__box col l-12 m-12 c-12">
                <h4 class="footer__header" style="font-size:4rem">CONTACT US</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.460226342874!2d106.6647898760401!3d10.776019959199234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3ae5901877%3A0x42c37972de865906!2zODI4IMSQLiBTxrAgVuG6oW4gSOG6oW5oLCBQaMaw4budbmcgMTIsIFF14bqtbiAxMCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1699369095416!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <ul class="footer__list">
                    <li class="footer__item">
                        <div class="footer__box-icon">
                            <i class="footer__icon fa-solid fa-house"></i>
                        </div>
                        <a href="" class="footer__link">828 Sư Vạn Hạnh, Phường 12, Quận 10, Thành phố Hồ Chí Minh</a>
                    </li>
                    <li class="footer__item">
                        <div class="footer__box-icon">
                            <i class="footer__icon fa-solid fa-phone"></i>
                        </div>
                        <div class="footer__about">
                            <a href="" class="footer__link">(+84) 792509301</a>
                            <a href="" class="footer__link">(+84) 339228631</a>
                        </div>
                    </li>
                    <li class="footer__item">
                        <div class="footer__box-icon">
                            <i class="footer__icon fa-regular fa-envelope"></i>
                        </div>
                        <div class="footer__about">
                            <a href="" class="footer__link">22DH110310@st.huflit.edu.vn</a>
                            <a href="" class="footer__link">22DH112862@st.huflit.edu.vn</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>