
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Location -->
<div class="location">
    <div class="grid wide">
        <div class="location__container">
            <a href="@Url.Action("Index","Home")" class="location__link"><i class="location__icon fa-solid fa-house"></i></a>
            <p class="location__text">/ Contact</p>
        </div>
    </div>
</div>
<!-- End Location -->

<div class="content" style="font-size:3rem">
    <div class="grid wide">
        <div class="footer__container row">
            <div class="footer__box col l-12 m-12 c-12">
                <h4 class="footer__header" style="font-size:4rem">CONTACT US</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <div class="footer__box-icon">
                            <i class="footer__icon fa-solid fa-house"></i>
                        </div>
                        <a href="" class="footer__link">828 Sư Vạn Hạnh, Phường 12, Quận 10, Thành phố Hồ Chí Minh</a>
                    </li>
                    <li class="footer__item">
                        <div class="footer__box-icon">
                            <i class="footer__icon fa-solid fa-phone"></i>
                        </div>
                        <div class="footer__about">
                            <a href="" class="footer__link">(+84) 792509301</a>
                            <a href="" class="footer__link">(+84) 339228631</a>
                        </div>
                    </li>
                    <li class="footer__item">
                        <div class="footer__box-icon">
                            <i class="footer__icon fa-regular fa-envelope"></i>
                        </div>
                        <div class="footer__about">
                            <a href="" class="footer__link">22DH110310@st.huflit.edu.vn</a>
                            <a href="" class="footer__link">22DH112862@st.huflit.edu.vn</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>