

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Location -->
<div class="location">
    <div class="grid wide">
        <div class="location__container">
            <a href="@Url.Action("Index","Home")" class="location__link"><i class="location__icon fa-solid fa-house"></i></a>
            <p class="location__text">/ Contact</p>
        </div>
    </div>
</div>
<!-- End Location -->


<div class="content" style="font-size:3rem">
    <footer class="footer" style="background-color: transparent;">
        <div class="grid wide">
            <div class="footer__container row">
                <div class="footer__box col l-3 m-6 c-6">
                    <h4 class="footer__header">THÁI GIA BẢO</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-regular fa-user"></i>
                            </div>
                            <a href="" class="footer__link">ID: 22DH110310</a>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-solid fa-phone"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">(+84) 792509301</a>
                            </div>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-regular fa-envelope"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">thaigiabao122@gmail.com</a>
                                <a href="" class="footer__link">22DH110310@st.huflit.edu.vn</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer__box col l-3 m-6 c-6">
                    <h4 class="footer__header">TRẦN HOÀNG PHÚC</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-regular fa-user"></i>
                            </div>
                            <a href="" class="footer__link">ID: 22DH112862</a>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-solid fa-phone"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">(+84) 339228631</a>
                            </div>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-regular fa-envelope"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">22DH112862@st.huflit.edu.vn</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer__box col l-3 m-6 c-6">
                    <h4 class="footer__header">TRẦN TẤN KIỆT</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-regular fa-user"></i>
                            </div>
                            <a href="" class="footer__link">ID: 22DH111836</a>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-solid fa-phone"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">(+84) 987221949</a>
                            </div>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-regular fa-envelope"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">22DH111836@st.huflit.edu.vn</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer__box col l-3 m-6 c-6">
                    <h4 class="footer__header">HỒ TẤN TÀI</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-regular fa-user"></i>
                            </div>
                            <a href="" class="footer__link">ID: 22DH113279</a>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-solid fa-phone"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">(+84) 792509301</a>
                            </div>
                        </li>
                        <li class="footer__item">
                            <div class="footer__box-icon">
                                <i class="footer__icon fa-regular fa-envelope"></i>
                            </div>
                            <div class="footer__about">
                                <a href="" class="footer__link">22DH113279@st.huflit.edu.vn</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

